<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Assitant</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <!-- custom css file link  -->
    <link rel="stylesheet" type="text/css" href="./assets/css/homepage.css">

</head>
<body>
    
<!-- header section starts  -->

<header>

    <a href="#" class="logo"><span>Pro</span>Assistant</a>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fas fa-bars"></label>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#features">features</a>
        <a href="#about">about</a>
        <a href="#team">team</a>
        <a href="/opentools">Tools</a> {{!-- change get req --}}
  
        <a href="#contact">contact</a>
    </nav>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>best web app for <br><span>Programmers</span></h3>
        <p>One stop solution for all your "programming" needs</p>
        <a href="#" class="btn-try">try now</a>
    </div>

    <div class="image">
        <img src="./assets/img/home-img.png" alt="">
    </div>

</section>

<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> app features </h1>

    <div class="box-container">

        <div class="box">
            <img src="./assets/img/f-icon1.png" alt="">
            <h3>Easy to use</h3>
            <p>We provide you the hassle free usage of all the tools by simply clicking on it</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="./assets/img/f-icon2.png" alt="">
            <h3>Free of cost</h3>
            <p>Every tool is free of cost and you can use them anytime anywhere!</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="./assets/img/f-icon3.png" alt="">
            <h3>Contact support</h3>
            <p>When in doubt, head over towards the contact section and our team will reach out to you soon</p>
            <a href="#" class="btn">read more</a>
        </div>

    </div>

</section>

<!-- features section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> about the app </h1>

    <div class="column">

        <div class="image">
            <img src="./assets/img/about-img.png" alt="">
        </div>

        <div class="content">
            <h3>Easy And Perfect Solution For Every Programmer Out there</h3>
            <p>No need to navigate towards different services we got everythingc covered!</p>
            <p>we have numerous useful services for your daily coding journey. you can track your daily activities through TO-DO lists, easily compile your code with a click and many more</p>
            <div class="buttons">
                <a href="#" class="btn-start">Get started </a>
            </div>
        </div>

    </div>

</section>

<!-- about section ends -->



<!-- team section starts  -->

<section class="team" id="team">

    <h1 class="heading"> team </h1>

    <div class="box-container">

        <div class="box">
        
            <div class="user">
                <img src="./assets/img/pic1.png" alt="">
                <h3>Joy Almeida</h3>
               
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

        <div class="box">
           
            <div class="user">
                <img src="./assets/img/pic2.png" alt="">
                <h3>Jeet Mistry</h3>
               
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

        <div class="box">
         
            <div class="user">
                <img src="./assets/img/pic3.png" alt="">
                <h3>Kadambari patangrao</h3>
               
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>
        <div class="box">
           
            <div class="user">
                <img src="./assets/img/pic3.png" alt="">
                <h3>Partima singh</h3>
               
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

    </div>

</section>

<!-- team section ends -->



<!-- contact section starts  -->

<section class="contact" id="contact">

    <div class="image">
        <img src="./assets/img/f-icon3.png" alt="">
    </div>

    <form action="">

        <h1 class="heading">contact us</h1>

        <div class="inputBox">
            <input type="text" required>
            <label>name</label>
        </div>

        <div class="inputBox">
            <input type="email" required>
            <label>email</label>
        </div>

        <div class="inputBox">
            <input type="number" required>
            <label>phone</label>
        </div>

        <div class="inputBox">
            <textarea required name="" id="" cols="30" rows="10"></textarea>
            <label>message</label>
        </div>

        <input type="submit" class="btn" value="send message">

    </form>

</section>

<!-- contact section edns -->

<!-- footer section starts  -->

<div class="footer">

    <div class="box-container">

        <div class="box">
            <h3>about us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet pariatur rerum consectetur architecto ad tempora blanditiis quo aliquid inventore a.</p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">features</a>
            <a href="#">about</a>
            <a href="#">team</a>
            <a href="#">contact</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">pinterest</a>
            <a href="#">twitter</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <div class="info">
                <i class="fas fa-phone"></i>
                <p> +123-456-7890 <br> +111-2222-333 </p>
            </div>
            <div class="info">
                <i class="fas fa-envelope"></i>
                <p> connectproassistant@gmail.com </p>
            </div>
            <div class="info">
                <i class="fas fa-map-marker-alt"></i>
                <p> mumbai, india - 400104 </p>
            </div>
        </div>

    </div>

    <h1 class="credit"> &copy; copyright @ 2021 by D-CODERS</h1>

</div>

<!-- footer section ends -->




















</body>
</html>